*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    width: 250px;
}


  .mainBox{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  }
  .divGroupWelcome {
   
    text-align: center;
    width: 250px;

  }
  .divGroupForm {
    text-align: center;
        width: 250px;
  }
  .divForm{
    width: 100%;
    height: 100%;
    align-items: center;
    margin-top: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: -1px 1px 3px 1px rgb(167, 167, 167);
    background-color: #fff;
  }
.divAds{
    margin-top: 14px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin-bottom: 150px;
}
.eleInForm{
    margin-top: 8px;
  }

.btnLogin{
    width: 95%;
    border: 1px solid #3b5998;
    background-color: #3b5998;
    color: #fff;
  }

.btnReg{
    width: 40%;
    border: 1px solid #60c755;
    background-color: #60c755;
    color: #fff;
    margin-bottom: 8px;
}
.footerBox{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.footerBoxHi{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top:15px;
    margin-left: 15px;
    /* background-color: rgb(61, 202, 56); */
    font-size: 10px;
}

.footerBoxMiddle {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top: 15px;
    margin-left: 15px;
    /* background-color: rgb(61, 202, 56); */
    font-size: 10px;
}
.footerBoxLow {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top: 15px;
    margin-left: 15px;
    /* background-color: rgb(61, 202, 56); */
    font-size: 10px;
}


button{
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}
  
input {
    padding: 8px;
    margin :auto;
    width: 95%;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
  }

  hr {
    margin-top: 10px;
      border: 0;
      width: 100%;
      background-color: gray;
      height: 1px;
  }
  a{
    text-decoration: none;
    font-size: 10px;
  }
  ul {
      list-style-type: none;
  }
  li{
    display: inline;
    margin-left: 3px;
    
  }

   

@media (min-width: 800px) {

    .mainBox {
            width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: left;
                align-items: center;
        }
    .divGroupWelcome {
        text-align: left;
        width: 250px;
        margin-left: 200px;
    }
    .divGroupForm {
        margin-left: 180px;
        margin-top: 20vh;
    }

    .divTextWelcome {
        font-size: 14px;
        width: 300px;
        padding-left: 20px;
    }
   
}