*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    width: 300px;
}


@media (max-width: 1000px) {
  .mainBox{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .divWelcome {
      width: 60%;
      text-align: center;

  }
  .divForm{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 3px solid #000;
    border-radius: 8px;

  }
.divAds{
    margin-top: 14px;
    width: 80%;
    text-align: center;
    font-size: 12px;
}
.eleInForm{
    margin-top: 8px;
  }

.btnLogin{
    width: 95%;
    height: 30px;
    border: 1px solid #3b5998;
    border-radius: 8px;
    background-color: #3b5998;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }
.btnReg{
    margin-bottom: 8px;
    width: 40%;
    height: 30px;
    border: 1px solid #60c755;
    border-radius: 8px;
    background-color: #60c755;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
  
input {
    padding: 8px;
    margin :auto;
    width: 95%;
    height: 30px;
    border: 1px solid #000;
    border-radius: 8px;
  }
  hr {
      border: 0;
      clear: both;
      display: block;
      width: 96%;
      background-color: gray;
      height: 1px;
  }
  a{
    text-decoration: none;
    font-size: 10px;
  }
   
}
@media (max-width: 800px) {
   
}